.p-accordion {
  &--header {
    font-size: 18px;
    padding: 10px 8px;
    background: #fff;
    border-bottom: 1px solid #989898;
    text-align: left;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 25px;
      width: 15px;
      height: 2px;
      background: #000;
      transition: all .2s ease-in-out;
    }

    &::before {
      transform: rotate(90deg);
    }

    &.open::before {
      transform: rotate(180deg);
    }

    &.open::after {
      opacity: 0;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 5px;
    border-bottom: 1px solid #333;
    background: #fff;
  }
}
