.p-footer {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaeaea;
    padding: 15px 5px;
  }

  &__item {
    background: #fff;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);

    &:not(:last-child) {
      border-right: 1px solid #989898;
    }

    & > a {
      color: #000;
    }
  }
}
