.p-entryForm {

  &__label {
    width: 130px;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    position: relative;
    vertical-align: middle;
    line-height: 1.2;
    padding: 10px 0 15px 10px;

    & .is-required {
      display: inline-block;
      width: 28px;
      background-color: #fc3e3e;
      color: #fff;
      padding: 3px 0;
      font-size: 10px;
      text-align: center;
      border-radius: 3px;
      letter-spacing: 0.1em;
      line-height: 1.2;
      font-weight: normal;
      position: absolute;
      right: 1vw;
      top: 18px;
    }
  }

  & td {
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    padding: 10px 3% 15px 0;
    position: relative;
  }

  &__row {
    border-bottom: 1px dotted #333;
  }
}
