.p-media {
  &--feature {
    &__img {
      padding: 10px;
      line-height: 0;
      flex: 1;
      display: inline-block;
    }
    &__item {
      display: flex;
      background: #fff;
      border-bottom: 1px dotted #333;
      align-items: center;
    }
    &__textArea {
      flex: 2;
      padding: 10px;
    }
  }
  &--articleList {
    &__item {
      display: flex;
      background: #fff;
      border-bottom: 1px dotted #333;
      align-items: center;
    }
    &__img {
      flex: 1.5;
      padding: 10px;
    }
    &__textArea {
      flex: 2;
      padding: 10px;
    }
  }
}
