.p-media {
  background: #fff;

  &__item {
    &--feature {
      display: flex;
      border-bottom: 1px dotted #9e9e9e;
      align-items: center;
    }
  }

  &__img {
    &--feature {
      padding: 10px;
      line-height: 0;
      flex: 1;
      display: inline-block;
    }
  }

  &__body {
    &--content {
      flex: 2;
      padding: 10px;
    }
  }

  &--articleList {
    &__item {
      display: flex;
      border-bottom: 1px dotted #9e9e9e;
      align-items: center;
    }

    &__img {
      flex: 1.5;
      padding: 10px;
      line-height: 1;
    }
  }

  &__body {
    &--articleList {
      flex: 2;
      padding: 10px;
    }
  }
}
