.p-navBar {
  font-size: 12px;

  &__list {
    display: flex;
    justify-content: space-evenly;
    background: #eee;
    border-bottom: 1px solid #333;

    & > li {
      flex-grow: 1;
      text-align: center;
      padding: 5px 10px;
      position: relative;

      & + li {
        border-left: 1px solid #333;
      }
    }
  }

  &__anchor {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    display: inline-block;
  }
}
