.c-btn {
  display: block;
  width: 100%;
  background: #b9b9b9;
  padding: 4vw;
  border-radius: 5px;
  color: #fff;
  font-size: 5.3vw;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0.5px 0.87px 0 rgba(0, 0, 0, .16);
  text-align: center;
}
