.c-checkbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  & label {
    width: 50%;
    padding: 12px 0;
    border-bottom: 1px dashed #9e9e9e;
  }

  & label:nth-child(even) {
    border-left: 1px dashed #9e9e9e;
    padding-left: 10px;
  }

  & p {
    display: inline-block;
  }
}
