.c-heading {
  border-top: 4px solid #ddd;
  border-bottom: 1px solid #ddd;
  line-height: 1.2;

  &__title {
    font-size: 20px;
    padding: 13px 5px;
    background: #fff;
    border-top: 4px solid #989898;
  }
}
