.c-input {
  font-size: 12px;
  padding: 8px 4px;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;

  &.is-required {
    background-color: #ffeded !important;
  }
}
