.c-media {
  display: flex;
  align-items: center;
  background: #fff;

  &:not(:last-child) {
    border-bottom: 1px dotted #9e9e9e;
  }

  &__img {
    padding: 10px;
    line-height: 0;
    flex: 1;
    display: inline-block;
  }

  &__body {
    flex: 2;
    padding: 10px;
  }

  &__img {
    &--article {
      flex: 1.5;
      padding: 10px;
      line-height: 1;
    }
  }
}
