.u-margin-bottom {
  &--xxsmall {
    margin-bottom: 5px !important;
  }

  &--xsmall {
    margin-bottom: 10px !important;
  }

  &--small {
    margin-bottom: 15px !important;
  }

  &--medium {
    margin-bottom: 20px !important;
  }

  &--xlarge {
    margin-bottom: 25px !important;
  }

  &--large {
    margin-bottom: 30px !important;
  }
}
