.u-margin-bottom--xsmall {
  margin-bottom: 5px !important;
}

.u-margin-bottom--small {
  margin-bottom: 10px !important;
}

.u-margin-bottom--medium {
  margin-bottom: 15px !important;
}

.u-margin-bottom--large {
  margin-bottom: 20px !important;
}
